/*** HEADER ***/
.header-nav-social,
.header-nav-social img {
    height: 2.3rem;
}

.header-nav-social .news {
    line-height: 2.3rem;
}

.social i {
    background-color: var(--white);
    color: var(--red);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: .9rem;
    padding: .3rem;
    margin-right: .5rem;
    cursor: pointer;
}

.header-logo-bar {
    border-bottom: 1px solid var(--grey);
}


/*** MAIN ***/
/* 1 */
.chev-section-one {
    height: 2.1rem;
    width: 2.1rem;
    background-color: var(--white);
    border-radius: 50%;
    padding: .4rem;
}

/* 5 */
.chevys {
    width: 1.6rem;
    padding: .25rem 0 0 .5rem;
    height: 1.6rem;
    border-radius: 50%;
}

/* 6 */
.player {
    height: 30rem;
    color: var(--white);
}

.player-main-img > img {
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
}

.player .card-img-overlay {
    width: 67%;
}

.player .player-channel-logo > img {
    height: 3rem;
    border-radius: 50%;
}

.player-yt-logo > img {
    height: 1.5rem;
    margin-left: .5rem;
}

.player-ul {
    height: 30rem;
    overflow: scroll;
}

.player-ul li {
    height: 4.5rem;
    display: flex;
    align-items: center;
}

.player-ul img {
    max-height: 4rem;
    border-radius: .5rem;
}

.player-ul-number {
    height: 1.5rem;
    width: 1.5rem;
    padding-left: .4rem;
    background-color: var(--black);
    border-radius: 3px;
}

/* 7 */
.section-seven-card {
    height: 12rem;
}

.section-seven-card img {
    object-fit: cover;
}


/*** FOOTER ***/
footer a {
    color: var(--grey)
}

.bbg {
    border-bottom: 1px solid var(--grey);
}




/*** DEBUG ***/

.db {
    border: 1px solid black;
}



/*************** ALL ***************/
img {
    height: 100%;
}

.img-container {
    height: 9.5rem;
}

ul {
    list-style: none;
    margin: 0;
}

ul a {
    text-decoration: none;
}

.icon-bigger {
    font-size: 1.5rem;
}

.height-total {
    height: 100%;
}

.width-total {
    width: 100%;
}

.tex-small {
    font-size: .8rem;
}

.tex-smaller {
    font-size: .6rem;
}

.bb {
    border-bottom: 1px solid var(--black);
}

.pointer {
    cursor: pointer;
}

.text-bg-light {
    padding: .3rem .8rem;
    font-size: .9rem;
    color: var(--black) !important;
}

.red {
    color: var(--red) !important; 
}

.card {
    border: none;
}

/* il velo scuro sulle img */
.veil {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 4px;
}
/* le scritte sulle img SOPRA al velo scuro */
.card-img-overlay {
    z-index: 2;
}



/*************** PROJECT PALETTE ***************/
:root {
    --red: #bf1d2e;
    --white: #ffffff;
    --grey: #f3f3f3;
    --black: #333333;
}

/* red */
.r-t {
    color: var(--red);
}
.r-b {
    background-color: var(--red);
}

/* white */
.w-t {
    color: var(--white);
}

.w-b {
    background-color: var(--white);
}

/* grey */
.g-t {
    color: var(--grey);
}

.g-b {
    background-color: var(--grey);
}

/* balck */
.b-t {
    color: var(--black);
}

.b-b {
    background-color: var(--black);
}


/*************** HOVER ***************/
    /* Hover - arrow */
.chevys:hover {
    background-color: var(--red);
}

    /* Hover - btn */
footer .btn-hover:hover {
    color: var(--red);
    background-color: var(--white);
    border-color: var(--red);
}

    /* Hover - btn2 */
.featured .card-img-overlay {
    height: 50%;
}
.readmore:hover {
    background-color: var(--black) !important;
    color: var(--grey);
}

    /* Hover - categories */
.posts {
    position: absolute;
    z-index: 2;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border: 1px solid var(--white);
    font-size: 1rem;
    text-align: center;
}

.posts-container {
    display: none;
}

.section-seven-card:hover .posts-container {
    display: block;
}

.section-seven-card:hover .veil {
    background-color: rgba(191, 29, 46, .8);
}

    /* Hover - link */
footer a:hover {
    color: var(--black);
}
    /* Hover - menu */
.header-nav a:hover {
    color: var(--red);
}
    /* Hover - socials */
.social i:hover {
    background-color: var(--black);
    color: var(--white);
}





/*** QUELLA COSA (K version) seeeeeeeee *.* ***/
.top-weird {
    width: 100%;
    border: 2px solid var(--black);
    position: relative;
}

.top-weird:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    
    transform: rotate(90deg);
    /* background-color: teal; */
}

.top-weird:after {
    
    border-color: transparent transparent transparent var(--black);
    border-width: 18px;
}


/*** QUELLA COSA (from web) ***/
/* .container {
    margin: 15px 30px;
    width: 200px;
    border: 1px solid black;
    position: relative;
    min-height: 200px;
}

.container:after,
.container:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}

.container:after {
    top: 10px;
    border-color: transparent transparent transparent #fdd;
    border-width: 10px;
}

.container:before {
    top: 9px;
    border-color: transparent transparent transparent #a00;
    border-width: 11px;
} */